<h2>{{ site.data.translations['ui']['list_intro'][page.lang] }}</h2>
<div>
    <div class="orange left">✔️</div>
    <div>{{ site.data.translations["ui"]['orange'][page.lang ]}}</div>
    <div style="margin-top:10px; clear: both;" />
    <div class="green left">✅</div>
    <div>{{ site.data.translations["ui"]['green'][page.lang ]}}</div>
    <div style="margin-top:10px; clear: both;" />
    <div class="blue left">☑️</div>
    <div>{{ site.data.translations["ui"]['blue'][page.lang ]}}</div>
    <div style="margin-top:10px; clear: both;" />
    <div class="rose left">❗</div>
    <div>{{ site.data.translations["ui"]['rose'][page.lang ]}}</div>
    <div style="margin-top:10px; clear: both;" />
    

</div>
<table id="tlist" style="margin-top:10px; width:85%;">
    <thead>
    <tr>
        <th style="width: 150px;">Pokémon</th>
        <th style="width: 25px;"><img src="{{ site.data.balls["dream"] }}"></th>
        <th style="width: 25px;"><img src="{{ site.data.balls["heavy"] }}"></th>
        <th style="width: 25px;"><img src="{{ site.data.balls["moon"] }}"></th>
        <th style="width: 25px;"><img src="{{ site.data.balls["lure"] }}"></th>
        <th style="width: 25px;"><img src="{{ site.data.balls["speed"] }}"></th>
        <th style="width: 25px;"><img src="{{ site.data.balls["love"] }}"></th>
        <th style="width: 25px;"><img src="{{ site.data.balls["friend"] }}"></th>
        <th style="width: 25px;"><img src="{{ site.data.balls["level"] }}"></th>
        <th style="width: 25px;"><img src="{{ site.data.balls["beast"] }}"></th>
        <th style="width: 85px;">Nature</th>
        <th style="width: 500px;">Egg moves</th>
        <!--<th style="width: 35%; min-width: 400px;">Note</th>-->
    </tr>
    </thead>
    {% assign list = site.data.list | sort_natural: "name" %}
    {% for pokemon in list %}
    <tr>
        <td><img src="/assets/img/{{ pokemon.name }}.png" style="vertical-align:middle">{{ site.data.translations.["pokemon"][pokemon.name][page.lang] }}</td>
        {% assign balls = "dream, heavy, moon, lure, speed, love, friend, level, beast" | split: ", " %}
        {% for ball in balls %}
            {% if pokemon.balls[ball] == "ha" %}
                <td class="green">
                    ✅
            {% elsif pokemon.balls[ball] == "y" %}
                <td class="orange">
                    ✔️
            {% elsif pokemon.balls[ball] == "x" %}
                <td class="blue">
                    ☑️
            {% elsif pokemon.balls[ball] == "w" %}
                <td class="rose">
                    ❗
            {% else %}
                <td>
            {% endif %}
                </td>
        {% endfor %}
        <td>{{ site.data.translations["nature"][pokemon.nature][page.lang] }}</td>
        <td>{{ pokemon.moves[page.lang] }}</td>
        <!--<td>{{ pokemon.note[page.lang] }}</td>-->
    </tr>
    {% endfor %}
</table>