<!DOCTYPE html>
<html lang="{{ page.lang }}">
    {% include head.html %}

    <body>
        <div class="content container">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">{{ site.data.translations[ui][available][lang] }}</a></li>
                    <li><a href="#tabs-2">{{ site.data.translations[ui][search][lang] }}</a></li>
                    <li><a href="#tabs-3">{{ site.data.translations[ui][list][lang] }}</a></li>
                </ul>
                <div id="tabs-1">
                    {% include onhands.html }
                </div>
                <div id="tabs-2">
                    {% include lookingfor.html }
                </div>
                <div id="tabs-3">
                    {% include list.html }
                </div>
            </div>
        </div>
    </body>
</html>