<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body>
    <div style="width: 75%; margin: 0 auto;">
        <div class="left">
            <h1>Pokémon Trading list</h1>
        </div>
        <div style="clear: both;"></div>

    </div>
    <div id="tabs" style="height:75%; width: 75%; margin: 0 auto;">
        <ul>
            <li>
                <a href="#tabs-1">{{ site.data.translations['ui']['available'][page.lang] }}</a>
            </li>
            <li>
                <a href="#tabs-2">{{ site.data.translations['ui']['search'][page.lang] }}</a>
            </li>
            <li>
                <a href="#tabs-3">{{ site.data.translations['ui']['list'][page.lang] }}</a>
            </li>
        </ul>
        <div id="tabs-1">
            {% include onhands.html %}
        </div>
        <div id="tabs-2">
            {% include lookingfor.html %}
        </div>
        <div id="tabs-3">
            {% include list.html %}
        </div>
    </div>
    <script type="text/javascript" src="{{"/assets/js/jquery-1.12.4.min.js" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/jquery-ui-1.12.1/jquery-ui.min.js" | relative_url }}"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-table-headers"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        
        $(function () {
            $('#showWanted').prop('checked', false);
            $("#tabs").tabs();
        });
        $("#tabs").tabs().css({
            'min-height': '400px',
            'overflow': 'auto'
        });
        $('table').stickyTableHeaders();
        $("#tlist").tablesorter({
            ignoreCase: true,
            sortLocaleCompare: true,
            sortList: [[0, 0]]
        });

        $(function () {
            $("#accordion").accordion({
                collapsible: true
            });
        });
        $("#accordion").accordion({
            heightStyle: "content"
        });


        $('#showWanted').change(function () {
            var rows = $('#tlist tbody tr');
            rows.show();
            if (this.checked) {
                $('#tlist tbody tr').not(':has(td.rose)').hide()
            }
        });
    </script>

</body>

</html>